APOHYPATON_URL = "[[ ("vault://vault." + vault_cluster + ".omadahealth.net") ]]"
AWS_ACCESS_KEY_ID = "[[ ("platform/aws/outline/" + deploy_env) | vault_kv('aws_access_key_id') ]]"
AWS_SECRET_ACCESS_KEY = "[[ ("platform/aws/outline/" + deploy_env) | vault_kv('aws_secret_access_key') | secret ]]"
AWS_REGION = "us-west-2"
SECRET_KEY="[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('secret_key') | secret ]]"
DATABASE_URL = "postgres://[[ ("apps/outline/" + deploy_env + "/postgresql") | vault_kv('user') ]]:[[ ("apps/outline/" + deploy_env + "/postgresql") | vault_kv('password') | secret ]]@[[ ("apps/outline/" + deploy_env + "/postgresql") | vault_kv('host') ]]:5432/[[ ("apps/outline/" + deploy_env + "/postgresql") | vault_kv('name') ]]"
REDIS_HOST = "[[ ("apps/outline/" + deploy_env + "/redis") | vault_kv('host') ]]"
REDIS_PASSWORD = "[[ ("apps/outline/" + deploy_env + "/redis") | vault_kv('password') | secret ]]"
REDIS_PORT = "[[ ("apps/outline/" + deploy_env + "/redis") | vault_kv('port') ]]"
REDIS_DB = "[[ ("apps/outline/" + deploy_env + "/redis") | vault_kv('db') ]]"
URL = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('url') ]]"
PORT = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('port') ]]"
FORCE_HTTPS = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('force_https') ]]"
DEPLOYMENT = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('deployment') ]]"
ENABLE_UPDATES = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('enable_updates') ]]"
SUBDOMAINS_ENABLED = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('subdomains_enabled') ]]"
WEBSOCKETS_ENABLED = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('websockets_enabled') ]]"
DEBUG = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('debug') ]]"
GOOGLE_CLIENT_ID = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('google_client_id') ]]"
GOOGLE_CLIENT_SECRET = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('google_client_secret') | secret ]]"
AWS_S3_UPLOAD_BUCKET_URL = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('aws_s3_upload_bucket_url') ]]"
AWS_S3_UPLOAD_BUCKET_NAME = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('aws_s3_upload_bucket_name') ]]"
AWS_S3_UPLOAD_MAX_SIZE = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('aws_s3_upload_max_size') ]]"
NODE_ENV = "[[ ("apps/outline/" + deploy_env + "/secrets") | vault_kv('node_env') ]]"
